body{
    padding: 0;
    margin: 0;
    width: 100%;
}

.header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin: 10px;
}
.info{
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

    


.content{
    display: flex;
    width: 490px;
    padding: 50px;
    margin-left:220px;
    /* flex-direction: column; */
    /* text-align: center; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.content h1{
    color: #F9FAF8;
    font-weight: bold;
    font-size: 48px;
    margin: 0;

}
.content p{
    color: #e5e7eb;
    font-size: 18px;
}

.content-image{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 250px;

}
.content-image img{
    width: 500px;
    height: 250px;
    object-fit: cover;
}
.random-info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    /* flex-wrap: wrap; */
    gap: 80px;
}
#random-info-header{
    text-align: center;
}
.placeholder-image{
    width: 150px;
    height: 150px;
    border: solid;
    border-color: blue;
    border-radius: 20px;
}

.random-images{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 150px;
    gap: 10px;
}
.text{
    word-wrap: break-word;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 150px;
    /* flex-direction: column; */
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    word-wrap: break-word;
    color: #1F2937;
}
.quote-author{
    margin-left:auto;
    font-size: 36px;
    font-weight: bold;
    /* font-style: italic; */
    word-wrap: break-word;
    color: #1F2937;
}

.callAction{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}
.callActionHolder{
    width: 1000px;
    height: 200px;
    /* border: solid; */
    border-radius: 15px;
    padding: 20px;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.actionButton{
    color: white;
    border: solid;
    height: 40px;
    width: 150px;
    border-color: white;
    border-radius: 10px;
    background-color: #3882f6;
}